# Global
__pycache__/
archive/
test/
results/
data/
sbatch/
log/
slurm-*.out
*.log
create_conda.sh
Miniconda3-py37_4.9.2-Linux-x86_64.sh
Test_ENV.ipynb

# On MacBook
env_setup.sh

# On IST
conda/
old_ver/